@using EntityLayer.Concreate
@model List<Category>
@{
    ViewData["Title"] = "CategoryListe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Kategorilerin Listesi</h1>

<table class="table table-bordered">
    <tr>
        <th>Kategori-Id</th>
        <th>Kategori Adı</th>
        <th>Kategori Sil</th>
        <th>Kategori Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.CategoryId</td>
    <td>@item.CategoryName</td>
    <td><a href="/Category/DeleteCategory/@item.CategoryId" class="btn btn-danger">Sil</a></td>
    <td><a href="/Category/EditCategory/@item.CategoryId" class="btn btn-warning">Güncelle</a></td>
</tr>
    }

</table>
<a href="/Category/CategoryEkle/" class="btn btn-info">Yeni Kategori Ekle</a>

