@model EntityLayer.Concreate.Category
@{
    ViewData["Title"] = "EditCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="background-color:cadetblue; border:2px solid black; text-align:center;">
    <h3>Güncellemiş olduğunuz bilgileri kaydetmeyi unutmayınız..</h3>
</div>
<br />
@using (Html.BeginForm("EditCategory", "Category", FormMethod.Post))
{
    @Html.Label("Kategori Adı")
    @Html.HiddenFor(x => x.CategoryId)
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Güncelle</button>
}
