@model EntityLayer.Concreate.Category
@{
    ViewData["Title"] = "EditCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>EditCategory Sayfası</h1>
<br />
@using (Html.BeginForm("EditCategory", "Category", FormMethod.Post))
{
    @Html.Label("Kategori Adı")
    @Html.HiddenFor(x => x.CategoryId)
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Güncelle</button>
}
